/* RESET */

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

/* BODY */

body{

    font-family:"Inter",sans-serif;

    background:#F5FFF7;

}

/* CONTAINER */

.register-container{

    display:flex;

    min-height:100vh;

}

/* LEFT */

.left-panel{

    flex:1;

    background:#2E7D32;

    color:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:50px;

    text-align:center;

}

/* LOGO */

.left-panel h1{

    font-size:42px;

    font-family:"Poppins",sans-serif;

    margin-bottom:20px;

}

/* PARAGRAPH */

.left-panel p{

    max-width:420px;

    line-height:1.8;

    margin-bottom:40px;

}

/* IMAGE */

.left-panel img{

    width:80%;

    max-width:450px;

}

/* RIGHT */

.right-panel{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

}

/* CARD */

.register-card{

    width:450px;

    background:white;

    padding:45px;

    border-radius:18px;

    box-shadow:0 12px 35px rgba(0,0,0,.08);

}

/* TITLE */

.register-card h2{

    font-size:34px;

    margin-bottom:12px;

    font-family:"Poppins",sans-serif;

}

/* SUBTITLE */

.register-card p{

    color:#607D8B;

}


/* ==========================
   FORM
========================== */

.register-form{

    margin-top:35px;

}

/* Input Group */

.input-group{

    margin-bottom:22px;

}

.input-group label{

    display:block;

    margin-bottom:8px;

    font-weight:600;

    color:#263238;

}

/* Input Box */

.input-box{

    display:flex;

    align-items:center;

    background:#ffffff;

    border:1px solid #DDE7E1;

    border-radius:10px;

    padding:0 15px;

    transition:.3s;

}

.input-box:focus-within{

    border-color:#2E7D32;

    box-shadow:0 0 0 3px rgba(46,125,50,.15);

}

/* Icons */

.input-box i{

    color:#607D8B;

}

/* Input */

.input-box input{

    flex:1;

    border:none;

    outline:none;

    padding:15px;

    font-size:15px;

    background:transparent;

}

/* Eye Icon */

.toggle-password{

    cursor:pointer;

}

/* Checkbox */

.checkbox-group{

    display:flex;

    align-items:flex-start;

    gap:10px;

    margin:20px 0;

    font-size:14px;

}

.checkbox-group a{

    color:#2E7D32;

    text-decoration:none;

    font-weight:600;

}

/* Button */

.register-btn{

    width:100%;

    border:none;

    background:#2E7D32;

    color:white;

    padding:15px;

    border-radius:10px;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.register-btn:hover{

    background:#1B5E20;

}

/* Login Link */

.login-link{

    text-align:center;

    margin-top:25px;

}

.login-link a{

    color:#2E7D32;

    text-decoration:none;

    font-weight:600;

}

/* ==========================
   ERROR MESSAGE
========================== */

.error{

    display:block;

    color:#E53935;

    font-size:13px;

    margin-top:6px;

    min-height:18px;

}